{
  presets: [
    [
      'env', {
        targets: {
          browsers: [
            'last 2 versions',
          ],
        },
      },
    ],
    'react',
    'stage-0',
  ],
}
// vim: set ts=2 sw=2 et:
