{
  presets: [
    [
      'env', {
        modules: false,
        targets: {
          browsers: [
            'last 1 chrome versions',
            'not ie > 0',
          ],
        },
      },
    ],
    'react',
    'stage-0',
  ],
  plugins: [
    'external-helpers',
  ],
  env: {
    production: {
      minified: true,
      comments: false,
    },
  },
}
// vim: set ts=2 sw=2 et:
